# Hypothesis Testing
A systematic procedure is used by the researchers to predict whether the results obtained from a study supports a particular theory that is related to the population is known as hypothesis testing. It uses the sample data in order to evaluate the hypothesis of the population. It is the statistical inference method that is used to test the significance of the proposed hypothesized relation between the population statistics or the parameters and their corresponding estimators of the sample. This test consists of two hypotheses, the null hypothesis, and the alternative hypothesis.

##### 4.) Telecall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and must be reworked before processing. The manager wants to check whether the defective % varies by center. Please analyze the data at 5% significance level and help the manager draw appropriate inferences  File: Customer OrderForm.csv

### chi-squared test
##### y= {Error free , defective}
##### x= { Phillipines, Indonesia, Malta, India }

In [32]:
COF = pd.read_csv("C:\\Users\\Desktop\\Hypothesis testing\\CustomerOrderform.csv")
COF.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [33]:
COF = pd.DataFrame(COF.unstack(level = -1)).reset_index().drop("level_1",axis = 1)
COF.head()

        level_0           0
0  Phillippines  Error Free
1  Phillippines  Error Free
2  Phillippines  Error Free
3  Phillippines  Error Free
4  Phillippines  Error Free

In [35]:
COF = COF.rename(columns = {"level_0":"Country" , 0: "Defective"})
COF.head()

        Country   Defective
0  Phillippines  Error Free
1  Phillippines  Error Free
2  Phillippines  Error Free
3  Phillippines  Error Free
4  Phillippines  Error Free

In [36]:
count = pd.crosstab(COF["Country"], COF["Defective"])
count

Defective     Defective  Error Free
Country
India                20         280
Indonesia            33         267
Malta                31         269
Phillippines         29         271

In [38]:
Chisquares_results = scipy.stats.chi2_contingency(count)
Chisquares_results

(3.8589606858203545, 0.2771020991233144, 3, array([[ 28.25, 271.75],
        [ 28.25, 271.75],
        [ 28.25, 271.75],
        [ 28.25, 271.75]]))

In [40]:
Chi_square = [['Test Statistic', 'p-value'], [Chisquares_results[0], Chisquares_results[1]]]
Chi_square
#p=0.2771020991233144 -> p > 0.05 -> Fails to reject null hypothesis

[['Test Statistic', 'p-value'], [3.8589606858203545, 0.2771020991233144]]