# Hypothesis Testing
A systematic procedure is used by the researchers to predict whether the results obtained from a study supports a particular theory that is related to the population is known as hypothesis testing. It uses the sample data in order to evaluate the hypothesis of the population. It is the statistical inference method that is used to test the significance of the proposed hypothesized relation between the population statistics or the parameters and their corresponding estimators of the sample. This test consists of two hypotheses, the null hypothesis, and the alternative hypothesis.

##### 3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions. East West North South
##### Males 	50 	142 	131 	70 
##### Females 	550 	351 	480 	350

### Chi-squared test
##### This test used when there y is discrete and x is discrete
##### here y = (male and female)
##### x = (East, West, North, South) - Regoin

In [25]:
Buyer = pd.read_csv("C:\\Users\\Desktop\\Hypothesis testing\\BuyerRatio.csv")
Buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [26]:
#Rename of Column name
Buyer.rename(columns={"Observed Values":"Gender"}, inplace=True)
Buyer.columns

Index(['Gender', 'East', 'West', 'North', 'South'], dtype='object')

In [27]:
#replacing the gender with 0 and 1
Buyer["Gender"].replace("Males", 0 , inplace = True)
Buyer["Gender"].replace("Females", 1 , inplace = True)
Buyer

   Gender  East  West  North  South
0       0    50   142    131     70
1       1   435  1523   1356    750

In [28]:
Chisquare_results = scipy.stats.chi2_contingency(Buyer)
Chisquare_results

(1.6929696469183673,
 0.7919942975413565,
 4,
 array([[8.81561238e-02, 4.27557201e+01, 1.46779946e+02, 1.31088156e+02,
         7.22880215e+01],
        [9.11843876e-01, 4.42244280e+02, 1.51822005e+03, 1.35591184e+03,
         7.47711978e+02]]))

In [30]:
Chi_square = [["Test statistics", "p-value"],[Chisquare_results[0],Chisquare_results[1]]]
Chi_square
#AS p = 0.7919942975413565 p > 0.05 so Fails to reject null hypothesis

[['Test statistics', 'p-value'], [1.6929696469183673, 0.7919942975413565]]