# Hypothesis Testing
A systematic procedure is used by the researchers to predict whether the results obtained from a study supports a particular theory that is related to the population is known as hypothesis testing. It uses the sample data in order to evaluate the hypothesis of the population. It is the statistical inference method that is used to test the significance of the proposed hypothesized relation between the population statistics or the parameters and their corresponding estimators of the sample. This test consists of two hypotheses, the null hypothesis, and the alternative hypothesis.

##### 5.) Fantaloons Sales managers commented that % of males versus females walking into the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.  File: Fantaloons.csv

### 2 proportion test
##### y = {Weekend , weekday}
##### x = {Female, Male}

In [41]:
import numpy as np
Fantaloons = pd.read_csv("C:\\Users\\Desktop\\Hypothesis testing\\Fantaloons.csv")
Fantaloons.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [42]:
#Dropping null values
Fantaloons.dropna(inplace = True)

In [44]:
New_sale = pd.DataFrame(Fantaloons.unstack(level = -1)).reset_index().drop("level_1",axis = 1)
New_sale.head()
#reset_index() is used for all value in way means first take all weekdays and then weekend

    level_0       0
0  Weekdays    Male
1  Weekdays  Female
2  Weekdays  Female
3  Weekdays    Male
4  Weekdays  Female

In [46]:
New_sale = New_sale.rename(columns = {"level_0":"Day" , 0: "Gender"})
New_sale.head()

        Day  Gender
0  Weekdays    Male
1  Weekdays  Female
2  Weekdays  Female
3  Weekdays    Male
4  Weekdays  Female

In [ ]:
#using proportion test
from statsmodels.stats.proportion import proportions_ztest
tab1 = New_sale.Day.value_counts()
tab1

In [48]:
tab2 = New_sale.Gender.value_counts()
tab2

Female    520
Male      280
Name: Gender, dtype: int64

In [49]:
# crosstable table
pd.crosstab(New_sale.Day, New_sale.Gender)

Gender    Female  Male
Day
Weekdays     287   113
Weekend      233   167

In [50]:
count = np.array([233, 167])
nobs = np.array([520,280])

In [51]:
stats, pval = proportions_ztest(count, nobs, alternative = 'two-sided') 
print(pval) 
#p=6.261142877946052e-05 -> p < 0.05 -> reject null hypothesis

6.261142877946052e-05

In [52]:
stats, pval = proportions_ztest(count, nobs, alternative = 'larger')
print(pval)  
#p=0.9999686942856103 -> p > 0.05 -> Fails to reject null hypothesis

0.9999686942856103