# Hypothesis Testing
A systematic procedure is used by the researchers to predict whether the results obtained from a study supports a particular theory that is related to the population is known as hypothesis testing. It uses the sample data in order to evaluate the hypothesis of the population. It is the statistical inference method that is used to test the significance of the proposed hypothesized relation between the population statistics or the parameters and their corresponding estimators of the sample. This test consists of two hypotheses, the null hypothesis, and the alternative hypothesis.

In [1]:
import pandas as pd
import scipy 
from scipy import stats

##### 1.) A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyse the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.   File: Cutlets.csv

### 2 sample T Test
#### when we want to compare between two data we used 2 sample t test as per given steps following
##### here y = continuous (diameter of cutlet)
##### x = discrete ( unit a , unit b)

In [7]:
#2 sample T Test 
########File: Cutlets.csv##########
# Load the data
Cutlets = pd.read_csv("C:\\Users\\Desktop\\Hypothesis testing\\Cutlets.csv")
Cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [10]:
Cutlets.columns = ("unit_A", "unit_B")

### Step frist to check the data is normal or not

In [13]:
# Normality Test
stats.shapiro(Cutlets.unit_A) # Shapiro Test
#pvalue=0.3199819028377533 so p > 0.05 - p High -> Fails to reject Ho

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [14]:
stats.shapiro(Cutlets.unit_B) # Shapiro Test
#pvalue=0.5224985480308533 so p > 0.05 - p High -> Fails to reject Ho

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

### External condition are same or not
Dimensions of cutlets measured from two different Unit so External conditions are different So check with the variance test that Var(unit A) equal or not with Var( unit B)

### Step two to check the varience between the two different units

In [15]:
# Variance test
scipy.stats.levene(Cutlets.unit_A,Cutlets.unit_B)
#pvalue=0.4176162212502553 so p > 0.05 - p High -> Fails to reject Ho

LeveneResult(statistic=0.665089763863238, pvalue=0.4176162212502553)

### Step three for 2 sample t test

In [16]:
# 2 Sample T test
scipy.stats.ttest_ind(Cutlets.unit_A,Cutlets.unit_B)
#pvalue=0.47223947245995 so p > 0.05 - p High -> Fails to reject Ho

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.47223947245995)

##### 2.) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level. File: LabTAT.csv

### One-way Anova test
##### this test is used when there Y is continuous and x is descrete
##### here y = Turn around time
##### x = 4 laboratories(lab1,lab2,lab3,lab4)

In [17]:
#importing dataset
Labtat = pd.read_csv("C:\\Users\\Aishwarya\\Desktop\\360DigitTMg\\Hypothesis testing\\lab_tat_updated.csv")
Labtat.head()

   Laboratory_1  Laboratory_2  Laboratory_3  Laboratory_4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [18]:
Labtat.columns = ("lab_1", "lab_2","lab_3","lab_4")

### Step frist to check the data is normal or not

In [19]:
#Normality Test
stats.shapiro(Labtat.lab_1)
#p-value = 0.4232 means p > 0.05 so p High-> Fail to reject Ho

ShapiroResult(statistic=0.9886691570281982, pvalue=0.42317795753479004)

In [20]:
stats.shapiro(Labtat.lab_2)
#p-value = 0.8637 means p > 0.05 so p High-> Fail to reject Ho

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [21]:
stats.shapiro(Labtat.lab_3)
#p-value = 0.06547 means p > 0.05 so p High-> Fail to reject Ho

ShapiroResult(statistic=0.9796067476272583, pvalue=0.06547004729509354)

In [22]:
stats.shapiro(Labtat.lab_4)
#p-value = 0.6619 means p > 0.05 so p High-> Fail to reject Ho

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

### Step two to check the varience between laboratories

In [23]:
#Varience Test
scipy.stats.levene(Labtat.lab_1, Labtat.lab_2,Labtat.lab_3,Labtat.lab_4)
#pvalue=0.38107 means p > 0.05 so p High-> Fail to reject Ho

LeveneResult(statistic=1.025294593220823, pvalue=0.38107781677304564)

### Step three for one-way anova test

In [24]:
#One way Anova test
F,P = stats.f_oneway(Labtat.lab_1, Labtat.lab_2, Labtat.lab_3, Labtat.lab_4)
P
# p-value = 2.143740909435053e-58 < 0.05 reject null hypothesis
# TAT reports of laboratories are different

2.143740909435053e-58

##### 3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions. East West North South
##### Males 	50 	142 	131 	70 
##### Females 	550 	351 	480 	350

### Chi-squared test
##### This test used when there y is discrete and x is discrete
##### here y = (male and female)
##### x = (East, West, North, South) - Regoin

In [25]:
Buyer = pd.read_csv("C:\\Users\\Aishwarya\\Desktop\\360DigitTMg\\Hypothesis testing\\BuyerRatio.csv")
Buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [26]:
#Rename of Column name
Buyer.rename(columns={"Observed Values":"Gender"}, inplace=True)
Buyer.columns

Index(['Gender', 'East', 'West', 'North', 'South'], dtype='object')

In [27]:
#replacing the gender with 0 and 1
Buyer["Gender"].replace("Males", 0 , inplace = True)
Buyer["Gender"].replace("Females", 1 , inplace = True)
Buyer

   Gender  East  West  North  South
0       0    50   142    131     70
1       1   435  1523   1356    750

In [28]:
Chisquare_results = scipy.stats.chi2_contingency(Buyer)
Chisquare_results

(1.6929696469183673,
 0.7919942975413565,
 4,
 array([[8.81561238e-02, 4.27557201e+01, 1.46779946e+02, 1.31088156e+02,
         7.22880215e+01],
        [9.11843876e-01, 4.42244280e+02, 1.51822005e+03, 1.35591184e+03,
         7.47711978e+02]]))

In [30]:
Chi_square = [["Test statistics", "p-value"],[Chisquare_results[0],Chisquare_results[1]]]
Chi_square
#AS p = 0.7919942975413565 p > 0.05 so Fails to reject null hypothesis

[['Test statistics', 'p-value'], [1.6929696469183673, 0.7919942975413565]]